<div *ngIf="hero">
    
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label for="name">Hero name: </label>
        <input type="text" id="name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
</div>